</h1>

<p>
  <%=@user['first_name']%>'s favourite movies:

  <% if Rails.env.production? %>
  <ul>
    <% @movies.each do |like| %>
      <li>
        <%= like['name'] %> (<%= %>)
      </li>
    <% end %>
  </ul>
  <% end %>
  
  <%=@user['first_name']%>'s favourite TV shows:

  <% if Rails.env.production? %>
  <ul>
    <% @tvshows.each do |like| %>
      <li>
        <%= like['name'] %> (<%= %>)
      </li>
    <% end %>
  </ul>
  <% end %>
</p>
