%ul
  - @articles.each_with_index do |article, i|
    - begin
      %li
        %h3
          = link_to article.title, {:action => 'show', :id => article.id}
        %i
          = "by #{article.creator} " if article.creator != nil and article.creator.size > 0
          from
          = link_to "#{article.source}", article.link
        %p
          = article.description.html_safe
    - rescue
    
:javascript
$(document).ready(function() {
  $("img").load(function() {
    if ($(this).width() > 550)
      $(this).attr("width", "550");
  });
});