%ul
  %li
    = link_to "[More about #{@show_title}]", ssearch_path(:search => @show_title) if @show_title
    = link_to "[More about #{@person_name}]", ssearch_path(:search => @person_name) if @person_name
    %br
    %i
      = "by #{@article.creator} " if @article.creator != nil and @article.creator.size > 0
      from
      = link_to "#{@article.source}", @article.link
    %p
      = @article.description.html_safe

:javascript
$(document).ready(function() {
  $("img").load(function() {
    if ($(this).width() > 550)
      $(this).attr("width", "550");
  });
});