%ul
  %li{:onclick => "top.location.href='/suggestions'"}
    = link_to 'Suggestions for me', '/suggestions'

.group
  %iframe{:src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fws2011.herokuapp.com%2F&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80&amp;appId=224485027617110", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:257px; height:80px;", :allowTransparency => "true"}

- #%ul
- #  %li{:onclick => "top.location.href='/news'"}
- #    = link_to 'Latest news', '/news'
- #  %li{:onclick => "top.location.href='/suggestions'"}
- #    = link_to 'Suggestions for me', '/suggestions'

- # Sidebar relations

- if @related_entities
  - @related_entities.each do |re|
    - if re[1].size > 0
      %ul
        %li.title
          = re[0]
        - re[1].each do |item|
          %li{:onclick => "top.location.href=\"/ssearch?search=#{item}\""}
            = link_to item, "/ssearch?search=#{item}"